<h2 class="text-blue-500 font-bold text-xl">Create an account</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="mb-4">
    <%= f.input :first_name, required: true, autofocus: true, input_html: { class: "mt-2 flex flex-col font-medium" } %>
  </div>
  <div class="mb-4">
    <%= f.input :email, required: true, input_html: { class: "mt-2 flex flex-col font-medium" } %>
  </div>
  <div class="mb-4">
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: "mt-2 flex flex-col font-medium" } %>
  </div>
  <div class="mb-4">
    <%= f.input :password_confirmation, required: true, input_html: { class: "mt-2 flex flex-col font-medium" } %>
  </div>
  <div class="mt-4">
    <%= f.button :submit, "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>



<%= render "devise/shared/links" %>
